<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>권민성 - 포트폴리오</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="card.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <img
          src="images/임시사진1.jpg"
          alt="프로필 이미지"
          class="profile-img"
        />
        <div class="info">
          <div class="title">권민성</div>
          <div class="subtitle">WEB & EMBEDDED ENGINEER</div>
          <p>충북대학교 정보통신공학부</p>
          <p>📞 010-5126-0432</p>
          <p>📧 ghj3644@gmail.com</p>
          <p>
            🔗 <a href="https://github.com/kwonmins" target="_blank">GitHub</a>
          </p>
        </div>
      </div>
      <div class="content">
        <div id="projects">
          <div class="section-title">PROJECT</div>
          <div class="list-container">
            <div class="list-content">
              <p>2024 CRUD기반 웹페이지 제작</p>
              <p>2024 AI 기반 웹 페이지 개발</p>
              <p>2024 머신러닝을 이용한 자동차 가격 예측</p>
              <p>2025 라즈베리파이를 활용한 스마트미러</p>
              <p>2024 CRUD기반 웹페이지 제작</p>
              <p>2024 AI 기반 웹 페이지 개발</p>
              <p>2024 머신러닝을 이용한 자동차 가격 예측</p>
              <p>2025 라즈베리파이를 활용한 스마트미러</p>
            </div>
          </div>
        </div>
        <div id="career">
          <div class="section-title">CAREER</div>
          <div class="list-container">
            <div class="list-content">
              <p>2024 [더비전]임베디드회사 인턴</p>
              <p>2025 LGaimers 수료</p>
              <p>2023 하이트진로 5기 서포터즈</p>
              <p>야간학교 늘푸른교실 교육봉사 130시간</p>
              <p>와인바 근무</p>
              <p>2024 [더비전]임베디드회사 인턴</p>
              <p>2023 하이트진로 5기 서포터즈</p>
              <p>2025 LGaimers 수료</p>
              <p>야간학교 늘푸른교실 교육봉사 130시간</p>
              <p>와인바 근무</p>
            </div>
          </div>
        </div>
        <div id="awards">
          <div class="section-title">AWARDS</div>
          <div class="list-container">
            <div class="list-content">
              <p>🔥 2024 하계 SW프로그래밍 우수상(교내)</p>
              <p>💡 2025 경험프로젝트활동 최우수상(교내)</p>
              <p>🚀 2025 스마트그리드 포스터연구 공모전 우수상</p>
              <p>🎯 2025 전기차가격 예측 해커톤 우승</p>
              <p>💻 2025 장영실창업발명대전 장려상상</p>
              <p>🔥 2024 하계 SW프로그래밍 우수상(교내)</p>
              <p>💡 2025 경험프로젝트활동 최우수상(교내)</p>
              <p>🚀 2025 스마트그리드 포스터연구 공모전 우수상</p>
              <p>🎯 2025 전기차가격 예측 해커톤 우승</p>
              <p>💻 2025 장영실창업발명대전 장려상상</p>
            </div>
          </div>
        </div>

        <div id="license">
          <div class="section-title">LICENSE</div>
          <div class="list-container">
            <div class="list-content">
              <p>📜 2025 정보처리기사 취득</p>
              <p>🚗 운전면허 1종보통</p>
              <p>📚 한국사 검정능력시험 1급</p>

              <p>📜 2023 정보처리기사 취득</p>
              <p>🚗 운전면허 1종보통</p>
              <p>📚 한국사 검정능력시험 1급</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
